body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.logo {
    max-width: 200px;
    margin: 20px auto;
}

a {
    text-decoration: none;
}

.button {
    display: block;
    width: 80%;
    max-width: 300px;
    margin: 10px auto;
    padding: 15px;
    background: linear-gradient(45deg, #ff0000, #ff7400, #ff1100);
}
/* */
.recruit {
    display: block;
    width: 80%;
    max-width: 300px;
    margin: 10px auto;
    padding: 15px;
    background: linear-gradient(45deg, #ff0000, #f0ff00, #ff9a00);
}

video {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.Social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.Poster {
    max-width: 650px;
    width: 90%;
    height: auto;
    margin-bottom: 30px;
}